/* Universal selector is used to define font for this site */
:root {
    --main-background-color: rgb(78, 78, 78);
    --accent-color: rgb(144, 204, 198);
}

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* Element selector formatting for the header 
   use space between to push name and nav links to oposite side of the page */
header {
    height: 80px;
    background-color: var(--main-background-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* setup for the portfolio name text */
header h1 {
    font-weight: bold;
    font-size: 30px;
    display: inline-block;
    color: var(--main-background-color);
    background-color: var(--accent-color);
    padding: 5px;
    margin-left: 5px;
}

/* setup for header nav links */
header nav {
    margin-right: 40px;
    font-size: 16px;
    align-items: center;
} 
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header a {
    text-decoration: none;
    color: var(--accent-color);
    background-color: var(--main-background-color);
    font-size: larger;
    margin: 5px;
    padding: 6px;
    border-bottom: 3px solid var(--accent-color);
    justify-items: center;
    align-items: center;
}

 
/* This sizes the hero image at the top and applies 
   flexbox attributes to the About Me and Work sections. */
.hero {
    position: relative;
    width: 100%;
    height: 300px;
    background-image: url("../images/old-painted-wood-background.jpg");
    background-size: cover;
    background-position: center;
}

/* cool subtext label setup for display on top of hero image */
.hero h2 {
    color: var(--main-background-color);
    background-color: var(--accent-color);
    font-size: 28px;
    padding: 5px;
    margin-left: 5px;
    position: absolute;
    bottom: 10px;
    right: 60px;
    height: 40px;
}

/* main content section of the page */
/* three main sections here - about me, work projects, and contact info */
.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content h2 {
    font-size: 28px;
    border-right-style: solid;
    border-right-color: black;
    border-right-width: thick;
    margin-right: 20px;
}


/* about me  */
.about-me {
    display: inline-flex;
    align-items: center;
}
.about-me h2 {
    margin-left: 80px;
    padding-right: 10px;
    text-align: right;
}
.about-me p {
    margin: 10px;
}

/* work projects - includes setup of clickable images */
.work {
    display: inline-flex;
    align-items: top;
}
.work h2 {
    margin-left: 90px;
    padding-right: 10px;
    text-align: right;
}


/* These items create a flex container for the the portfolio items as
   well as providing formatting and background images. */
.image-tiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
	flex-basis: 100%;
    margin: 10px;
    padding: 10px;
}
/* common style for image label text */
.image-label {
    color: var(--main-background-color);
    background-color: var(--accent-color);
    padding: 5px;
    margin-bottom: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60px;
}
.image-label h3 {
    margin: 0px;
}
.image-label p {
    font-size: 14px;
    margin: 0px;
}

/* surf report image handled a little from the others */
.surf-report {
    position: relative;
    border: 5px solid var(--accent-color);
    margin: 20px;
    flex-basis: calc(100% - 30px);
}
.surf-report-img {
    height: 300px;
    display: block;
    background-image: url("../images/surfer-sm.jpg");
    background-size: cover;
    filter: brightness(90%);
}
.surf-report-img:hover{
    filter: brightness(100%);
}

/* common properties for the rest of the image divs */
.common-sub-image-div {
    position: relative;
    border: 5px solid var(--accent-color);
    margin: 10px;
    flex-basis: calc(50% - 30px);
}
/* common design for images themselves */
.common-sub-img {
    filter: brightness(90%);
    display: block;
    height: 150px;
    background-size: cover;
}
/* define image files for each sub image
   also set hover effect */
.led-wall {
    background-image: url("../images/led-wall.png");
}
.led-wall:hover {
    filter: brightness(100%);
}
.calculator {
    background-image: url("../images/calculator.jpg");
}
.calculator:hover {
    filter: brightness(100%);
}
.pastel-puzzles {
    background-image: url("../images/pastel-puzzles.jpg");
}
.pastel-puzzles:hover {
    filter: brightness(100%);
}

.run-buddy {
    background-image: url("../images/run-buddy.png");
}.run-buddy:hover {
    filter: brightness(100%);
}

/* contact me section */
.contact-me {
    display: inline-flex;
    align-items: center;
}
.contact-me h2 {
    text-align: right;
    margin-left: 45px;
    padding-right: 10px;
}
.contact-links {
    width: 100%;
    margin-right: 5%;
    margin-left: 3%;
}
.contact-links ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
}
.contact-links a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 5px;
    padding: 6px;
    border-bottom: 3px solid;   
    justify-items: center;
    align-items: center;
}

/* footer design */
footer {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    justify-content: center;
}
footer a {
    text-decoration: none;
    color: black;
    border-bottom: 3px solid var(--main-background-color);
    padding: 4px;
    margin: 3px 20px 3px 20px;
}

/* Media query resizes tiles when resolution is below 700 pixels in width*/
@media screen and (max-width: 700px) {
    .led-wall {
        flex-basis: calc(100% - 30px);
    }
    .calculator {
        flex-basis: calc(100% - 30px);
    }
    .pastel-puzzles {
        flex-basis: calc(100% - 30px);
    }
    .run-buddy {
        flex-basis: calc(100% - 30px);
    }

    .contact-links a {
        border-bottom: 0px;
        text-decoration-line: underline;
    }
}
